.name {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  border: none;
  padding: 4px 5px;
  background-color: var(--greyF4);
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.input:focus {
  outline: none;
  border-radius: none;
  border: none;
}