.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  padding: 19px 50px;
  color: var(--white);
}

.green {
  background: var(--greenA8);
}

.red {
  color: var(--tomatoDC);
  border: 2px solid var(--tomatoDC);
}

.grey {
  background: var(--greyF4);
  border: 2px solid var(--greyC4);
  color: var(--greyC4);
}

.button:hover.green {
  background: var(--green89);
}

.button:hover.red {
  color: var(--white);
  background: var(--tomatoDC);
}