@import url('./shared/fonts/sf-ui-display-cufonfonts-webfont/style.css');

:root {
  --tomatoDC: #DC3E22;
  --tomatoB7: #B7280F;
  --greenA8:  #A8B64F;
  --green89:  #899441;
  --grey33:   #333333;
  --grey99:   #999999;
  --greyF4:   #f4f4f4;
  --greyEC:   #ECECEC;
  --greyE4:   #E4E4E4;
  --greyC4:   #C4C4C4;
  --white:    #FFFFFF;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'SF UI Display Light';
  color: var(--grey33);
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}